@import '../../../styles/colors';

.slider {
  display: flex;
  flex-direction: column;
  height: 35rem;
  //   color: #999;
  //   background-color: #000;
  position: relative;
  .slide {
    position: relative;
    display: flex;
    height: 35rem;
    &-bg {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';

        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 20%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-pane {
      position: absolute;
      width: 45%;
      top: 5rem;
      left: 5rem;

      .name {
        font-size: 2.8rem;
      }

      .meta {
        font-size: 1.4rem;
        color: $lightGray;

        .info {
          span {
            &:not(:last-child, :first-child):after {
              content: '|';
              margin-right: 9px;
              margin-left: 9px;
            }
          }
        }
      }

      .desc {
        font-size: 1rem;
        line-height: 1.6;
        color: $lightWhite;
      }
    }
  }
}
