/* You can add global styles to this file, and also import other style files */
@import './styles/init-css';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

@import '~primeflex/primeflex.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $white;
  background-color: $bgColor;
}

a {
  text-decoration: none;
  color: $white;
}
